/* CSS for the Header.jsx component */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');


/* body
{
  background: url("../../../public/HeroSection.png") no-repeat center center fixed;
  background-size: cover;
  z-index: 20;

} */


.header {
    width: 90vw;
    position: relative;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    z-index: 100;
  }


  .logo img {
    height: 50px; 
  }



  .nav-links {
    display: flex;
    gap: 70px; 
  }
  
  .nav-links a {
    font-family: 'Exo 2', sans-serif;
        text-decoration: none; 
    color: #e3b12a; 
    font-size: 20px;
}

