html{
    color:white;
}

.App {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
label{
    color:black;  
    gap:40px;
    width:220px;
}
  h1 {
    margin-bottom: 10px;
    color: black;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    color: white;
  }

  .typo{
    color: white;
  }
  
  .avatar-preview{
    background-color: white;
    border-radius: 30px;
    position:absolute;
    left:73%;
    top: 25%;
  }
  img {
    width: 250px;
    height: 250px;
  }
  

  .css-15reu3p-MuiFormLabel-root-MuiInputLabel-root{
    position: absolute;
    top:-10px;
  }